#current-conditions {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
};

#current-header {
    padding-left: 5%;
};

.margin {
    margin: 1%;
};

#fiveday {
    margin: 1%;
};
